In [1]:
import pandas as pd
df_input = pd.read_csv('Files/otc-input.csv')
df_output = pd.read_csv('Files/otc-latest.csv')
df_output = df_output['asin']
df_output.head()

0    B000FQNGCI
1    B005UJ1J6K
2    B00F4L0PIC
3    B00QLFJ4LE
4    B01LYYWSM2
Name: asin, dtype: object

In [2]:
df = df_input.merge(df_output, on=['asin'] , indicator=True, how='left')
df = df[['asin' , '_merge']]
df.head()

         asin     _merge
0  B000FQNGCI       both
1  B000FQNGFK       both
2  B000FQUKCW       both
3  B000FQUKIQ       both
4  B000FQUKJ0  left_only

In [3]:
df.to_csv('output.csv' , index=False)