In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel("Files/mw_new.xlsx")

In [3]:
df2 = pd.read_excel("Files/mw_old.xlsx")

In [4]:
df = df2.merge(df1, on=['SKU' , 'ProductPageURL'] , indicator=True, how='left')

In [5]:
df = df[['SKU' , 'ProductPageURL' , '_merge']]
df.head()

         SKU                                     ProductPageURL     _merge
0   653-3517              https://www.midwaydental.com/653-3517       both
1  901-10482             https://www.midwaydental.com/901-10482       both
2   905-1338              https://www.midwaydental.com/905-1338  left_only
3   548-0375              https://www.midwaydental.com/548-0375       both
4   033-3594  https://www.midwaydental.com/fundamentals-ladi...       both

In [6]:
df.to_csv("missing.csv" , index=False)