In [1]:
import pandas as pd

In [2]:
df =  pd.read_csv('Files/societe.csv')

In [3]:
df.count()

title         13968
ceo1           8970
ceo2           4103
search_url    16949
url           16816
dtype: int64

In [4]:
df.head()

,title,ceo1,ceo2,search_url,url
0,LA BAITA,M Yusuf KARA\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\n...,NaN,https://www.google.com/search?q=societe.com+la...,https://www.societe.com/societe/la-baita-53454...
1,"GESTION EQUIVAR (SELLERIE EQUIVAR, EQUIVAR)",NaN,MME Catherine MURCIA\n\t\t\t\t\t\t\t\n\t\t\t\t...,https://www.google.com/search?q=societe.com+se...,https://www.societe.com/societe/gestion-equiva...
2,NEOEN,NaN,M Xavier BARBARO\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,https://www.google.com/search?q=societe.com+im...,https://www.societe.com/societe/neoen-50832001...
3,ARCANE GROUP,NaN,M Francois CURTET\n\t\t\t\t\t\t\t\n\t\t\t\t\t\...,https://www.google.com/search?q=societe.com+ar...,https://www.societe.com/societe/arcane-group-5...
4,LABORATOIRES DERMATOLOGIQUES A-DERMA,NaN,M Stephane LABATTUT\n\t\t\t\t\t\t\t\n\t\t\t\t\...,https://www.google.com/search?q=societe.com+ad...,https://www.societe.com/societe/laboratoires-d...